@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

* {
    background-color: #4D4542;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none !important;
}

.w-u-m {
   
    color: #92B92A;
}

.logo {
    display: flex;
    justify-content: center;
}

.main-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: whitesmoke;
}

img {
    width: 35%;
    height: auto;
}

.bi-instagram {
    width: 25px;
    height: auto;
    color: #92B92A
}

.ig-tag {
    color: #92B92A;
}